$primary-color: #15ffbc;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $primary-color;
    font-family: 'Oswald', sans-serif;
}

/*-------------------------------HEADER--------------------------*/

.list__element-img {
    width: 200px;
}

.header {
    padding: 20px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__list--element {
    height: 100%;
}

.nav__list--element,
a {
    text-decoration: none;
    color: black;
}

/*-------------------------------MAIN--------------------------*/

.main__section--video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 300px;
    background-color: #ff8dac;
    font-size: 1.2rem;
    color: $primary-color;
    letter-spacing: 0.5rem;
    transform: scale(1.1) skewY(-10deg);
    width: 95.2%;

    .video--img {
        width: 100px;
        transform: scale(1) skewY(10deg);
    }
}
